 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
 	<!-- Content Header (Page header) -->
 	<section class="content-header">
 		<div class="container-fluid">
 			<div class="row mb-2">
 				<div class="col-sm-6">
 					<h1>Thông tin học sinh</h1>
 				</div>
 				<div class="col-sm-6">
 					<ol class="breadcrumb float-sm-right">
 						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
 						<li class="breadcrumb-item"><a href="#!student">Học sinh</a></li>
 						<li class="breadcrumb-item active">Thêm mới</li>
 					</ol>
 				</div>
 			</div>
 		</div><!-- /.container-fluid -->
 	</section>

 	<!-- Main content -->
 	<section class="content">
 		<div class="container-fluid">
 			<div class="card card-default">
 				<form ng-submit="submitStudent()">
 					<div class="card-header">
 						<a href="javascript:window.history.back()" class="btn btn-secondary">Quay lại</a>
 					<!-- <h3 class="card-title">Select2 (Bootstrap4 Theme)</h3>
					
 					<div class="card-tools">
 						<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
 						<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
 					</div> -->
 					</div>
 					<!-- /.card-header -->
 					<div class="card-body">
 						<div class="row">
 							<div class="col-md-6">
 								<div class="form-group">
				                    <label for="exampleInputFile">Ảnh đại diện</label>
				                    <div class="input-group">
				                      <div class="custom-file">
				                        <input type="file" class="custom-file-input" id="exampleInputFile" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
				                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
				                      </div>
				                    </div>
				                  </div>
 								<div class="form-group">
 									<label for="name">Tên <span class="text-danger">*</span></label>
 									<input type="text" class="form-control" id="name" ng-model="student.name">
 								</div>
 								<div class="form-group">
 									<label for="phone">Số điện thoại</label>
 									<input type="text" class="form-control" id="phone" ng-model="student.phone">
 								</div>
 								<div class="form-group">
 									<label for="email">Email</label>
 									<input type="email" class="form-control" id="email" ng-model="student.email">
 								</div>
 								<div class="form-group">
 									<label>Lớp <span class="text-danger">*</span></label>
 									<select class="form-control" ng-model="student.classId" ng-options="item.id as item.name for item in lstClass"></select>
 								</div>
 							</div>
 							<div class="col-md-6">
 								<div class="form-group">
 									<label for="studentCode">Mã học sinh <span class="text-danger">*</span></label>
 									<input type="text" class="form-control" id="studentCode" ng-model="student.studentCode">
 								</div>
 								<div class="form-group">
 									<label for="parentName">Tên phụ huynh</label>
 									<input type="text" class="form-control" id="parentName" ng-model="student.parentName">
 								</div>
 								<div class="form-group">
 									<label for="phoneEmail">Email phụ huynh <span class="text-danger">*</span></label>
 									<input type="text" class="form-control" id="phoneEmail" ng-model="student.parentPhoneOrEmail">
 								</div>
 								<div class="form-group">
 									<label for="address">Địa chỉ</label>
 									<input type="text" class="form-control" id="address" ng-model="student.address">
 								</div>
 								<div class="form-group">
 									<label>Ngày sinh</label>
 									<input type="date" class="form-control" ng-model="student.dateOfBirth">
 								</div>
 							</div>
 							<div class="col-md-12">
 								<div class="form-group">
 									<label for="note">Ghi chú</label>
 									<textarea class="form-control" id="note" ng-model="student.note"></textarea> 
 								</div>
 							</div>
 						</div>
 						<!-- /.row -->
 					</div>
 					<div class="card-footer">
 						<button type="submit" class="btn btn-primary float-right mr-3">Lưu</button>
 					</div>
 				</form>
 				<!-- /.card-body -->
 			</div>
 			<!-- /.card -->
 		</div><!-- /.container-fluid -->
 	</section>
 	<!-- /.content -->
 </div>
	<!-- /.content-wrapper -->