<div class="content-wrapper" ng-show="org">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Trang chủ</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<h5 class="mb-2">Tổng quan</h5>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-12">
					<div class="info-box">
						<span class="info-box-icon bg-info"><i class="fas fa-user-graduate"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số học sinh</span>
							<span class="info-box-number">{{ overview.totalStudent }}</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-12">
					<div class="info-box">
						<span class="info-box-icon bg-success"><i class="fas fa-house-user"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số lớp học</span>
							<span class="info-box-number">{{ overview.totalClass }}</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-12">
					<div class="info-box">
						<span class="info-box-icon bg-primary"><i class="fas fa-users"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số giáo viên</span>
							<span class="info-box-number">{{ overview.totalTeacher }}</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-12">
					<div class="info-box">
						<span class="info-box-icon bg-danger"><i class=" fas fa-user-tie"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Phụ huynh đã sử dụng app</span>
							<span class="info-box-number">{{ overview.totalParentActive }}</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header border-transparent">
							<h3 class="card-title"><i class="far fa-calendar-alt"></i> Lịch học trong ngày</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body p-0" style="display: block;">
							<div class="table-responsive">
								<table class="table m-0">
									<thead>
										<tr>
											<th>Lớp học</th>
											<th>Môn học</th>
											<th>Giáo viên dạy</th>
											<th>Thời gian bắt đầu</th>
											<th>Thời gian kết thúc</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in lstLession">
											<td>{{ x.className }}</td>
											<td>{{ x.title }}</td>
											<td>{{ x.teacherName }}</td>
											<td>{{ x.startTime }}</td>
											<td>{{ x.endTime }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.card-body -->
						<div class="card-footer clearfix" style="display: block;">
							<a href="#!lession" class="btn btn-sm btn-info float-right">Xem thêm</a>
						</div>
						<!-- /.card-footer -->
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
</div>

<div class="content-wrapper" ng-show="!org">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5><i class="icon fas fa-info"></i> Alert!</h5>
						Bạn chưa là quản lý của trường nào, click vào <b><a href="#!organization">đây</a></b> để tạo thông tin cho trường!
					</div>
				</div>
			</div>
		</div>
	</section>
</div>