<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Thông báo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Thông báo</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddNotify">Tạo mới thông báo</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example-1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Nội dung</th>
                    <th>Thời gian tạo</th>
                    <th>Người tạo</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstNotify">
                    <td>{{ x.id }}</td>
                    <td>{{ x.title }}</td>
                    <td>{{ x.content.substr(0,300) }}</td>
                    <td>{{ x.createdDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ x.createdName }}</td>
                    <td>{{ x.status }}</td>
                    <td>
                      <button class="btn btn-sm btn-primary" ng-click="edit(x.id)"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-sm btn-danger" ng-click="remove(x.id)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <!-- The Modal -->
  <div class="modal fade" id="modalAddNotify">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form role="form" ng-submit="submitNotify()">
            <div class="form-group">
              <label for="address">Tiêu đề thông báo</label>
              <input type="text" class="form-control" id="address" ng-model="notify.title">
            </div>
            <div class="form-group">
              <label>Nội dung thông báo</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="notify.content"></textarea>
            </div>
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" ng-model="notify.status" ng-true-value="'ACTIVE'" ng-false-value="'DRAFT'" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Gửi ngay</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>