<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Sổ điểm</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Sổ điểm</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="form-row mb-2">
                <div class="col">
                  <label for="class">Khối lớp: </label>
                  <select class="form-control" ng-model="groupId" ng-change="selectGroup()">
                    <option value="">-- All --</option>
                    <option ng-repeat="x in lstGroup" value="{{x.id}}">{{x.name}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="class">Lớp: </label>
                  <select class="form-control" ng-model="filter.classId" ng-change="selectClass()">
                    <option value="">-- All --</option>
                    <option ng-repeat="x in lstClass" value="{{x.id}}">{{x.name}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="class">Môn học: </label>
                  <select class="form-control" ng-model="filter.subjectId" ng-change="selectClass()" ng-options="item.id as item.name for item in lstSubject"></select>
                </div>
                <div class="col">
                  <label for="class">Lần thi: </label>
                  <select class="form-control" ng-model="filter.numOfTest" ng-change="selectClass()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <div class="col">
                  <label for="class">Học kỳ: </label>
                  <div class="form-group">
                      <div class="icheck-primary d-inline">
                        <input type="radio" id="radioPrimary1" ng-model="filter.sem" value="1" ng-change='selectClass()'>
                        <label for="radioPrimary1">Kỳ 1</label>
                      </div>
                      <div class="icheck-primary d-inline ml-3">
                        <input type="radio" id="radioPrimary2" ng-model="filter.sem" value="2" ng-change='selectClass()'>
                        <label for="radioPrimary2">Kỳ 2</label>
                      </div>
                    </div>
                </div>
                <div class="col">
                  <label for="class"> </label>
                  <div class="form-group">
                    <button class="btn btn-info" ng-click="exportExcel()">Xuất file excel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                
              </div>
              <div id="jsGrid"></div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>