<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Học sinh</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Học sinh</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="#!create-student" class="btn btn-primary">Thêm mới học sinh</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-row mb-2">
                <div class="col-md-2">
                  <label for="class">Lớp: </label>
                  <select class="form-control" ng-model="filter.classId" ng-change="loadLstStudent()">
                    <option value="">-- Tất cả --</option>
                    <option ng-repeat="x in lstClass" value="{{x.id}}">{{x.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="class">Tên hoặc mã học sinh: </label>
                  <input class="form-control" type="type" ng-model="filter.name" ng-change="loadLstStudent()"/>
                </div>
              </div>
              <table id="example1" class="table table-bordered table-striped text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Mã học sinh</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Tên phụ huynh</th>
                    <th>Lớp</th>
                    <th>Ghi chú</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstStudent">
                    <td>{{ x.id }}</td>
                    <td>{{ x.studentCode }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.phone }}</td>
                    <td>{{ x.parentName }} <a href="#!chat?user={{ x.parentPhoneOrEmail }}"><i class="far fa-comment"></i> Liên hệ</a></td> <!-- text-decoration: none;  -->
                    <td>{{ x.className }}</td>
                    <td>{{ x.note }}</td>
                    <td>
                      <a href="javascript:;" class="btn btn-sm btn-primary"  ng-click="viewDetail(x)"><i class="fas fa-eye"></i></a>
                      <a href="#!edit-student/{{ x.id }}" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></a>
                      <button class="btn btn-sm btn-danger" ng-click="remove(x)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="modalDetailStudent">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="card-header p-2">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#settings" data-toggle="tab">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#settings" data-toggle="tab">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#settings" data-toggle="tab">Settings</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="settings">
              <form class="form-horizontal" ng-submit="submitForm()">
                <div class="form-group row">
                  <label for="" class="col-sm-2 col-form-label">Ảnh đại diện</label>
                  <div class="col-sm-10">
                    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputName" class="col-sm-2 col-form-label">Họ và tên</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" ng-model="user.fullName" placeholder="Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" ng-model="user.email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="identity" class="col-sm-2 col-form-label">Số CMT</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="identity" ng-model="user.identityCard" placeholder="Identity">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" ng-model="user.phone" placeholder="Phone">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" ng-model="user.address" placeholder="Address">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-2 col-form-label">Mật khẩu</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" autocomplete="true" id="password" ng-model="user.password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="repass" class="col-sm-2 col-form-label">Nhập lại mật khẩu</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="repass" autocomplete="true" ng-model="user.rePass" placeholder="Repass">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Lưu</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
