<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Học sinh</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Học sinh</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="#!create-student" class="btn btn-primary">Thêm mới học sinh</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-row mb-2">
                <div class="col-md-2">
                  <label for="class">Lớp: </label>
                  <select class="form-control" ng-model="filter.classId" ng-change="loadLstStudent()">
                    <option value="">-- Tất cả --</option>
                    <option ng-repeat="x in lstClass" value="{{x.id}}">{{x.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="class">Tên hoặc mã học sinh: </label>
                  <input class="form-control" type="type" ng-model="filter.name" ng-change="loadLstStudent()"/>
                </div>
              </div>
              <table id="example1" class="table table-bordered table-striped text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Mã học sinh</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Tên phụ huynh</th>
                    <th>Lớp</th>
                    <th>Ghi chú</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstStudent">
                    <td>{{ x.id }}</td>
                    <td>{{ x.studentCode }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.phone }}</td>
                    <td>{{ x.parentName }} <a href="#!chat?user={{ x.parentPhoneOrEmail }}"><i class="far fa-comment"></i> Liên hệ</a></td> <!-- text-decoration: none;  -->
                    <td>{{ x.className }}</td>
                    <td>{{ x.note }}</td>
                    <td>
                      <a href="javascript:;" class="btn btn-sm btn-primary"  ng-click="viewDetail(x.id)"><i class="fas fa-eye"></i></a>
                      <a href="#!edit-student/{{ x.id }}" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></a>
                      <button class="btn btn-sm btn-danger" ng-click="remove(x)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="modalDetailStudent">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header p-2">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#point" data-toggle="tab">Điểm</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#checkin" data-toggle="tab">Điểm danh</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="point">
              <table class="table table-bordered table-striped">
                <thead class="text-center my-auto">
                  <tr>
                    <th class="pb-4" rowspan="2">Tên môn học</th>
                    <th colspan="4">Điểm kỳ 1</th>
                    <th colspan="4">Điểm kỳ 2</th>
                    <th class="pb-4" rowspan="2">Cả năm</th>
                  </tr>
                  <tr>
                    <th>Hệ số 1</th>
                    <th>Hệ số 2</th>
                    <th>Hệ số 3</th>
                    <th>Trung bình</th>
                    <th>Hệ số 1</th>
                    <th>Hệ số 2</th>
                    <th>Hệ số 3</th>
                    <th>Trung bình</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstPoint">
                    <td>{{ x.subjectName }}</td>
                    <td>{{ x.pointMulti1Sem1 }}</td>
                    <td>{{ x.pointMulti2Sem1 }}</td>
                    <td>{{ x.pointMulti3Sem1 }}</td>
                    <td class="text-center">{{ x.pointAvgSem1 }}</td>
                    <td>{{ x.pointMulti1Sem2 }}</td>
                    <td>{{ x.pointMulti2Sem2 }}</td>
                    <td>{{ x.pointMulti3Sem2 }}</td>
                    <td class="text-center">{{ x.pointAvgSem2 }}</td>
                    <td class="text-center">{{ x.pointAvgTotal }}</td>
                  </tr>
                  <tr ng-show="!lstPoint.length > 0" class="text-center">
                    <td colspan="10"> Chưa có dữ liệu</td>
                  </tr>
                  <tr ng-show="lstPoint.length > 0" class="text-center">
                    <td colspan="9">Tổng: </td>
                    <td>{{ avgPoint }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="checkin">
              <div id="jsGrid" style="margin-bottom: 1rem"></div>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
          <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary float-right mr-3" ng-show="lstPoint.length > 0" ng-click="exportExcel()">Xuất file Excel</button>
        </div>
      </div>
    </div>
  </div>
