<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Môn học</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Môn học</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddSubject">Thêm môn học</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên trường</th>
                    <th>Tên môn học</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstSubject">
                    <td>{{ x.id }}</td>
                    <td>{{ x.organizationName }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.status }}</td>
                    <td>
                      <button class="btn btn-sm btn-primary" ng-click="edit(x.id)"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-sm btn-danger" ng-click="remove(x.id)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <!-- The Modal -->
  <div class="modal" id="modalAddSubject">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông tin trường</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form role="form" ng-submit="submitSubject()">
            <div class="form-group">
              <label for="address">Tên môn học</label>
              <input type="text" class="form-control" id="address" ng-model="subject.name">
            </div>
            <div class="form-group">
              <label>Trường</label>
              <select class="form-control" ng-model="subject.organizationId">
                <option ng-repeat="x in lstOrganization" value="{{x.id}}">{{x.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="note">Ghi chú</label>
              <input type="text" class="form-control" id="note" ng-model="subject.note">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radio1" value="INACTIVE" ng-model="subject.status">
                <label class="form-check-label">Nháp</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radio1" value="ACTIVE" ng-model="subject.status" checked="checked">
                <label class="form-check-label">Kích hoạt</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>