<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Giáo viên</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giáo viên</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="user = {}" data-target="#modalCreateUser">Thêm giáo viên</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Tên đăng nhập</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstTeacher">
                    <td>{{ x.id }}</td>
                    <td>{{ x.fullName }}</td>
                    <td>{{ x.username }}</td>
                    <td>{{ x.phone }}</td>
                    <td>{{ x.address }}</td>
                    <td>{{ x.email }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" ng-click="remove(x.id, x.organizationId)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <!-- The Modal -->
  <div class="modal fade" id="modalCreateUser">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông tin giáo viên</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form ng-submit="submitUser()">
            <div class="form-group">
              <label for="fullName">Họ và tên:</label>
              <input type="text" class="form-control" id="fullName" placeholder="Họ và tên" ng-model="user.fullName">
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại:</label>
              <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" ng-model="user.phone">
            </div>
            <div class="form-group">
              <label for="email">Email(Tên đăng nhập): <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="email" placeholder="Tên đăng nhập" ng-model="user.email">
            </div>
            <div class="form-group">
              <label for="address">Địa chỉ:</label>
              <input type="text" class="form-control" id="address" placeholder="Địa chỉ" ng-model="user.address">
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</div>