  <div class="content-wrapper">
  	<!-- Content Header (Page header) -->
  	<section class="content-header">
  		<div class="container-fluid">
  			<div class="row mb-2">
  				<div class="col-sm-6">
  					<h1>Thông tin cá nhân</h1>
  				</div>
  				<div class="col-sm-6">
  					<ol class="breadcrumb float-sm-right">
  						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
  						<li class="breadcrumb-item active">Thông tin cá nhân</li>
  					</ol>
  				</div>
  			</div>
  		</div><!-- /.container-fluid -->
  	</section>

  	<!-- Main content -->
  	<section class="content">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-md-3">

  					<!-- Profile Image -->
  					<div class="card card-primary card-outline">
  						<div class="card-body box-profile">
  							<div class="text-center">
  								<img class="profile-user-img img-fluid img-circle" src="{{ user.avatar }}" ng-show="user.avatar">
  								<img class="profile-user-img img-fluid img-circle" src="/resources/dist/img/avatar.png" ng-show="!user.avatar">
  							</div>

  							<h3 class="profile-username text-center">{{ user.fullName }}</h3>

  							<!-- <p class="text-muted text-center">Software Engineer</p> -->
  							<ul class="list-group list-group-unbordered mb-3">
  								<li class="list-group-item">
  									<b>Tên đăng nhập</b> <a class="float-right">{{ user.username}}</a>
  								</li>
  								<li class="list-group-item">
  									<b>Trạng thái</b> <a class="float-right">{{ user.status}}</a>
  								</li>
  								<li class="list-group-item">
  									<b>Ngày tạo</b> <a class="float-right">{{ user.createdDate | date:'dd/MM/yyyy'}}</a>
  								</li>
  								<li class="list-group-item">
  									<b>Cập nhật lần cuối</b> <a class="float-right">{{ user.updatedDate | date:'dd/MM/yyyy'}}</a>
  								</li>
  							</ul>
  						</div>
  						<!-- /.card-body -->
  					</div>
  					<!-- /.card -->

  				</div>
  				<!-- /.col -->
  				<div class="col-md-9">
  					<div class="card">
  						<div class="card-header p-2">
  							<ul class="nav nav-pills">
  								<li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#settings" data-toggle="tab">Settings</a></li>
  							</ul>
  						</div><!-- /.card-header -->
  						<div class="card-body">
  							<div class="tab-content">
  								<div class="tab-pane active" id="settings">
  									<form class="form-horizontal" ng-submit="submitForm()">
  										<div class="form-group row">
  											<label for="" class="col-sm-2 col-form-label">Ảnh đại diện</label>
  											<div class="col-sm-10">
  												<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="inputName" class="col-sm-2 col-form-label">Họ và tên</label>
  											<div class="col-sm-10">
  												<input type="text" class="form-control" id="inputName" ng-model="user.fullName" placeholder="Name">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
  											<div class="col-sm-10">
  												<input type="email" class="form-control" id="inputEmail" ng-model="user.email" placeholder="Email">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="identity" class="col-sm-2 col-form-label">Số CMT</label>
  											<div class="col-sm-10">
  												<input type="text" class="form-control" id="identity" ng-model="user.identityCard" placeholder="Identity">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
  											<div class="col-sm-10">
  												<input type="text" class="form-control" id="phone" ng-model="user.phone" placeholder="Phone">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
  											<div class="col-sm-10">
  												<input type="text" class="form-control" id="address" ng-model="user.address" placeholder="Address">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="password" class="col-sm-2 col-form-label">Mật khẩu</label>
  											<div class="col-sm-10">
  												<input type="password" class="form-control" autocomplete="true" id="password" ng-model="user.password" placeholder="Password">
  											</div>
  										</div>
  										<div class="form-group row">
  											<label for="repass" class="col-sm-2 col-form-label">Nhập lại mật khẩu</label>
  											<div class="col-sm-10">
  												<input type="password" class="form-control" id="repass" autocomplete="true" ng-model="user.rePass" placeholder="Repass">
  											</div>
  										</div>
  										<div class="form-group row">
  											<div class="offset-sm-2 col-sm-10">
  												<button type="submit" class="btn btn-danger">Lưu</button>
  											</div>
  										</div>
  									</form>
  								</div>
  								<!-- /.tab-pane -->
  							</div>
  							<!-- /.tab-content -->
  						</div><!-- /.card-body -->
  					</div>
  					<!-- /.nav-tabs-custom -->
  				</div>
  				<!-- /.col -->
  			</div>
  			<!-- /.row -->
  		</div><!-- /.container-fluid -->
  	</section>
  	<!-- /.content -->
  </div>
  <!-- /.content-wrapper