<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Chi tiết điểm danh</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#!checkin">Lịch sử điểm danh</a></li>
            <li class="breadcrumb-item active">Chi tiết điểm danh</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="javascript:window.history.back()" class="btn btn-secondary">Quay lại</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col" ng-show="lstCheckin">
                  <p>Lớp: <span class="text-bold"> {{ lstCheckin[0].className }}</span></p>
                  <p>Môn học: <span class="text-bold">{{ lstCheckin[0].lessionName }}</span></p>
                  <p>Ngày điểm danh: <span class="text-bold">{{ lstCheckin[0].createdDate | date:'dd/MM/yyyy' }}</span></p>
                </div>
              </div>
              <table id="tblCheckin" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Mã học sinh</th>
                    <th>Tên học sinh</th>
                    <th>Điểm danh</th>
                    <th>Ghi chú</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstCheckin">
                    <td>{{ x.studentCode }}</td>
                    <td>{{ x.studentName }}</td>
                    <td>{{ x.present != null ? x.present ? "Có mặt" : "Vắng mặt" : "Chưa điểm danh" }}</td>
                    <td>{{ x.note }}</td>
                    <td>{{ x.createdName }}</td>
                    <td>{{ x.createdDate | date:'dd/MM/yyyy' }}</td>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>