<!-- Content Header (Page header) -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Checkin</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="javascript:window.history.back()" class="btn btn-default">Quay lại</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="tblCheckin" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Class Id</th>
                    <th>Class Name</th>
                    <th>Subject Name</th>
                    <th>Date</th>
                    <th>Total Student</th>
                    <th>Total Present</th>
                    <th>Total Absent</th>
                    <th>% Present</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in lstCheckinDTO">
                    <td>{{ x.id }}</td>
                    <td>{{ x.classId }}</td>
                    <td>{{ x.className }}</td>
                    <td>{{ x.subjectName }}</td>
                    <td>{{ x.createdDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ x.totalCheckin }}</td>
                    <td>{{ x.totalPresent }}</td>
                    <td>{{ x.totalAbsent }}</td>
                    <td>{{ x.totalPresent * 100 / x.totalCheckin }}</td>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>