<div class="login-page" ng-controller="LoginController">
	<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>I</b>School</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Hệ thống quản lý trường học trực tuyến</p>
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tên đăng nhập hoặc email" value="{{ user.username }}" ng-model="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" autocomplete="true" value="{{user.password}}" placeholder="Mật khẩu" ng-model="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Đăng nhập</button>
          <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#modalCreateUser">Đăng ký</button>
        </form>
        <p class="mb-1">
          <a href="javascript:;" data-toggle="modal" data-target="#modalResetPass">Quên mật khẩu</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- The Modal -->
  <div class="modal fade" id="modalCreateUser">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Đăng ký</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form ng-submit="signUp()">
            <div class="form-group">
              <label for="fullName">Họ tên:</label>
              <input type="text" class="form-control" id="fullName" placeholder="Họ và tên" ng-model="user.fullName">
            </div>
            <div class="form-group">
              <label for="username">Tên đăng nhập:</label>
              <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" ng-model="user.username" ng-change="changeUserName()">
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại:</label>
              <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" ng-model="user.phone">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email">
            </div>
            <div class="form-group">
              <label for="address">Địa chỉ:</label>
              <input type="text" class="form-control" id="address" placeholder="Địa chỉ" ng-model="user.address">
            </div>
            <div class="form-group">
              <label for="pwd">Mật khẩu:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu" ng-model="user.password" autocomplete="true" ng-change="changePassword()">
            </div>
            <div class="form-group">
              <label for="rpwd">Nhập lại mật khẩu:</label>
              <input type="password" class="form-control" id="rpwd" placeholder="Nhập lại mật khẩu" ng-model="user.rePass" autocomplete="true">
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->

  <!-- The Modal -->
  <div class="modal fade" id="modalResetPass">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Quên mật khẩu</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form ng-submit="resetPass()">
            <div class="form-group">
              <label for="email">Tên đăng nhập:<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="email" placeholder="Email" ng-model="email">
            </div>
            <button type="submit" class="btn btn-primary">Gửi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</div>

